## Source Mapping
This is the current mapping from [`src` files of ebusd-configuration](https://github.com/john30/ebusd-configuration/tree/$branch/src) to the CSV files served here.

It was last built on $date from [git revision $shortref](https://github.com/john30/ebusd-configuration/tree/$ref).

<!-- note: template file to be amended with the actual data by the workflow -->
